<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "/styles/home.css">
    <title>Server - %title</title>
</head>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/styles/home.js"></script>
     <!--https://firebase.google.com/docs/web/setup#available-libraries -->
        <h1 class="Headline">%= header %</h1>
        <p>%= subhead %</p>
        <button onClick="history.back()">Back</button>
        <br>
        <br>
        <button onClick="window.location.href = '/'">Home</button>
    </body>
</html>
