<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "/style/dev.css">
    <script src="/scripts/dev.js"></script>
    <title>Server - Dev</title>
</head>
    <body>
        <h1 class="Headline">Developers</h1>
        
        <p>Welcome to the developers page!
            If you are a developer please log in below!
            If you would like to become a dev please contact Benji.
        </p>
        <P>Username</P>
        <input id="user">
        <p>Password</p>
        <input id="pass" type="password">
        <br>
        <p>
        <button onClick="login()">Login</button>
        <br>
        <br>
        <button onClick="window.location.href = '/'">Home</button>
    </body>
</html>