<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "/styles/dev.css">
    <script src="/scripts/dev.js"></script>
    <title>Server - Dev</title>
</head>
    <body>
        <h1 class="Headline">Working On This Page</h1>
    </body>
</html>