<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "/styles/home.css">
    <title>Server - Report An Error</title>
</head>
    <body>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="{{url_for('static', filename='scripts/home.js')}}"></script>
     <!--https://firebase.google.com/docs/web/setup#available-libraries -->
        <h1 class="Headline">Report An Error</h1>
        <form action="" method="POST">
            <p>Error</p>
            <input name="error">
            <p>Error Description (Optional)</p>
            <input name="description">
            <br>
            <br>
            <input class="login" type="submit" value="Submit">
            <br>
            <br>
        </form>
        <button onClick="window.location.href = '/'">Home</button>
    </body>
</html>
