<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "/styles/games.css">
    <title>Server - Game Sites</title>
</head>
    <body>
        <h1 class="Headline">Game Sites</h1>
        
        <p>Games</p>
        <button onClick="window.location.href = '/'">Home</button>
        <br>
        <br>
        <button onClick="window.location.href='/games/swingtriangle'">Swing Triangle</button>
        <br>
        <br>
        <button onClick="window.location.href='/games/chess'">Chess</button>
        
        
    </body>
</html>
