<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static',filename='images/icon.png') }}">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/games.css') }}">
    <title>Server - Game Sites</title>
</head>
    <body>
        <h1 class="Headline">Game Sites</h1>
        
        <p>Game Sites</p>
        <ul>
           <li><a target="_blank" href="https://sites.google.com/site/tyronesgameshack/">Tyrones Game Shack</a></li>
           <li><a target="_blank" href="https://sites.google.com/site/xenogame224/">Xenogames224</a></li>
           <li><a target="_blank" href="https://unblockedgames66.sites.google.com/site/playunblocked66/">Unblocked Game 66</a></li>
        </ul>
        <button onClick="window.location.href = '/'">Home</button>
        
        
    </body>
</html>
