<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/icon.png">
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "/styles/howtocode.css">
    <title>Server - How To Code</title>
</head>
    <body>

<script src="/styles/home.js"></script>
        <h1 class="Headline">How To Code</h1>
        <p>Background set to white for reading purposes</p>
        <button onClick="history.back()">Back</button>
        <br>
        <br>
        <button onClick="window.location.href = '/'">Home</button>
        <h2>1. Picking A Langauge</h2>
        <p>Like speaking langauges programming comes in many different langauges. All langauges have their perks but for a beginner you are best off learning python.</p>
        <a class="langaugelink" href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a>
        <h2>2. The Basics</h2>
        <p>Now that you chose a langauge where do you start? Well first you need somewhere to write code. If you want to write code online you can go to <a href="https://replit.com/">Repl</a></p>
        <p>To code just sign up, make a new project and select python</p>
        <p>In the program type the command exactly like below and run it</p>
        <code class="langauge-python">print("Hello")</code>
        <p>If you entered it correctly you should get a Hello in the output terminal</p>
        <p>One thing you need to know when programming is that the interpreter(what reads your code and executes it) does exactly what it is told. Any misplaced character can destroy a program.</p>
        <p>So be very careful when you write your code</p>
        <p>Now that you wrote your first line of code its time to learn variables</p>
        <p>A variable is just something that stores data like how in math you would have a variable like x = 5</p>
        <p>In programming there are 5 variable types</p>
        <ul>
            <li>Boolean(Bool) - A true or false value - Example: x = True</li>
            <li>String - A group of character(letters) - Example: x = "Hello"</li>
            <li>Integer(Int) - A whole number - Example: x = 1 </li>
            <li>Character(Char) - A single character(letter) - Example: x = "A"</li>
            <li>Float - A number with a decimal - Example: x = 15.2</li>
        </ul>
        <p>Type the code exactly below and run it</p>
        <code class="langauge-python">
            <pre>myvariable = "Hello"</pre>
            <pre>print(myvariable)</pre>
        </code>
        <p>You should get the output Hello. Now try changing the word in the quotes to something else but don't delete the quotes. Now run it again</p>
        <p>You should get the output of whatever you put in those quotes</p>
        <h2>3. Getting User Input And Managing Variables</h2>
        <p>In python there is a special function to get user input</p>
        <code class="langauge-python">
            <pre>print("What is your name?")</pre>
            <pre>name = input()</pre>
            <pre>print("Hello " + name)</pre>
        </code>
        <p>You will get a line printed to the screen asking your name, then you can type your name and hit enter</p>
        <p>After you hit enter it will say your Hello and your name</p>
        <p>In code you can combine strings using the +</p>
        <p>For Example:</p>
        <code class="langauge-python">
            <pre>string1 = "Hello "</pre>
            <pre>string2 = "John"</pre>
            <pre>print(string1 + string2)</pre>
        </code>
        <p>Thats all about programming for now, I will add more</p>
    </body>
</html>
