<link rel="icon" href="/images/icon.png">
<iframe id="html5game" src="https://www.coolmathgames.com/0-run-3/play" class="square no-select" width="800px" height="600px" scrolling="no" marginwidth="0" vspace="0" frameborder="0" hspace="0" marginheight="0" sandbox="allow-scripts allow-same-origin allow-modals" data-ruffle-polyfilled=""></iframe>
<title>Games - Run</title>
<style>
  
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
  </style>