@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*
{
    font-family: 'Nunito', sans-serif;
    
}
.signuplink
{
    font-size: 13px;
}
.Headline
{
    font-family: 'Nunito', sans-serif;
    border-bottom: solid 2px;
}
button
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: black;
    border-width: 3px;
}
button:hover
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: blue;
    border-width: 3px;
}
.login
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: black;
    border-width: 3px;
}
.login:hover
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: blue;
    border-width: 3px;
}
html, body {
    width: 100%;
    height:100%;
  }
  
  body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }