@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

p
{
    font-family: 'Nunito', sans-serif;
    
}
.Headline, h2, h1
{
    font-family: 'Nunito', sans-serif;
    border-bottom: solid 2px;
}
button
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: black;
    border-width: 3px;
}
button:hover
{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: blue;
    border-width: 3px;
}